
@page
@using Packt.Shared
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model PacktFeatures.Pages.CustomerIndexModel



@foreach (var group in Model.CustomersGroupedByCountry)
{
    <h2>@group.Key</h2>

    <ul class="list-group">
        @foreach (var customer in group)
        {
            <li class="list-group-item">
                <a asp-page="/Customers" asp-route-id="@customer.CustomerId">@customer.ContactName</a>
            </li>
        }
    </ul>
}

